<h1>Приятной игры</h1>
<div><button class="btn btn-primary" onclick="renderSettings();">Новая игра</button></div>
<div><button class="btn btn-link" onclick="toggleModal();">Раскрыть шпиона</button></div>

<div class="modal-overlay modal-closed" id="modal-overlay"></div>
<div class="modal modal-closed" id="modal">
    <div class="modal-header">
        Шпион раскрыт
        <span style="font-size: 36px; margin-top: -6px;" onclick="toggleModal();">&times;</span>
    </div>
    <div class="modal-body">
        <p id="message"></p>
    </div>
</div>