<h1>Шпион</h1>
<div><button class="btn btn-primary" onclick="renderSettings();">Новая игра</button></div>
<div><button class="btn btn-link" onclick="toggleModal();">Как играть?</button></div>

<div class="modal-overlay modal-closed" id="modal-overlay"></div>
<div class="modal modal-closed" id="modal">
    <div class="modal-header">
        Правила игры
        <span style="font-size: 36px; margin-top: -6px;" onclick="toggleModal();">&times;</span>
    </div>
    <div class="modal-body">
        <h4>Ход игры</h4>
        <p>Раздающий запускает таймер, после чего начинает игру. Он задаёт вопрос любому другому игроку, обращаясь к
            нему по имени: «А скажи-ка мне, Рита...» Как правило, вопросы касаются указанной в карточке загадочной
            локации: это желательно, но не обязательно. Вопрос задаётся один раз и без уточнений. Ответ также может быть
            любым. Затем ответивший на вопрос задаёт вопрос любому другому игроку, кроме того, кто перед этим задал ему
            вопрос (т. е. нельзя спросить в ответ). Порядок опроса игроки выстроят сами — это будет зависеть от
            подозрений, основанных на вопросах и ответах.</p>
        <p>Обратите внимание: если вы не шпион, то на вашей карте локации также будет указан ваш статус в локации. Перед
            началом партии договоритесь, будете ли вы в разговорах следовать статусам и отыгрывать роли или нет (мы
            настоятельно советуем отыгрывать — так интереснее). Например, если вы профессор в университете, то при
            вопросе «Почему вы прогуляли наш маленький корпоративчик?» вы можете сослаться на свои «старые больные
            косточки», а если вы студент — возмутиться, почему это «большие дяди вас не позвали».</p>

        <p>Статус, как правило, указан в мужском роде, но это не означает, что ваш персонаж мужского пола. Так, стюард
            на самолёте может стать стюардессой, а продавец в супермаркете — продавщицей.</p>
        <h4>Конец игрового раунда</h4>

        <p>Раунд заканчивается в одном из трёх случаев.</p>
        <ul>
            <li>По истечении времени</li>
            <li>По подозрению игрока</li>
            <li>По желанию шпиона</li>
        </ul>
    </div>
</div>